<div>
  <div>
    <h2>{{ education.institute_name }}</h2>
    <p>{{ education.location }}</p>
    <p>
      <a href="{{ education.website }}" target="_blank">Website</a>
    </p>
  </div>

  <div>{{ education.certificate_name }}</div>
</div>
