---
layout: default
---
<div class="flex flex-col items-center justify-center">
  <h1 class="py-3 pt-10 m-0 text-3xl font-black tracking-tighter text-center md:py-16 md:text-7xl">{{ data.title }}</h1>

  <div class="lg:w-title">
    {{ content }}
  </div>
</div>
