---
layout: default
---
<div class="flex flex-col items-center justify-center">
  <h1 class="font-bold text-center text-7xl w-blog-title">{{ data.title }}</h1>

  <div class="w-blog-title">
    {{ content }}
  </div>
</div>
