---
layout: default
---
<div class="mb-10">
  <h1 class="m-0 font-bold text-left sm:text-4xl">{{ data.title }}</h1>

  <div class="flex text-xl gap-x-2">
    <div>{{ data.date | date: '%B %d, %Y' }}</div>
    <div>·</div>
    <div>{{ page.content | reading_time }} minutes</div>
  </div>
</div>

{{ content }}
