---
layout: default
---
<h2>Books I am currently reading</h2>
{% render 'books/currently_reading' %}

{% comment %} <h2 id="books-i-have-notes-on">Books I have notes on</h2> {% endcomment %}

<h2 id="books-i-have-read">Books I have read</h2>
{% render 'books/already_read' %}

{% comment %} TODO: Add a list of books you have written. First one should be about living in Germany.{% endcomment %}
