---
layout: default
---

<ul class="list-none flex gap-6 py-10">
  <% book_names = book_ids = site.collections.books.resources.map {
    |b| b.id.split("_books/").last.split("/").first.titlecase
  }.uniq %>
  <% book_names.each do |book_title| %>
    <li>
      <a class="flex flex-col gap-2" href="/books/<%= book_title.parameterize %>">
        <div class="w-[236px] h-[378px] border rounded"></div>
        <div class="text-center"><%= book_title %></div>
      </a>
    </li>
  <% end %>
</ul>
