---
layout: default
---

<ul class="list-none flex gap-6 py-10">
  <% site.collections.books.resources
          .group_by { |b| b.id.split("_books/").last.split("/").first }
          .each do |id, chapters|
  %>
    <li data-controller="book" data-book-id-value="<%= id %>" data-book-chapters-value="<%= chapters.map(&:id) %>">
      <a class="flex flex-col gap-2" href="/books/<%= id.parameterize %>">
        <div>
          <div class="w-[236px] h-[378px] border rounded relative box-border" data-book-target="cover">
          </div>
        </div>
        <div class="text-center"><%= id.titlecase %></div>
      </a>
    </li>
  <% end %>
</ul>