---
layout: default
title: Now
---
<h2>What I'm reading</h2>

{% render 'books/currently_reading' %}

<p>
  Here is list of <a href="{{ '/books#books-i-have-notes-on' | relative_url }}">books I have notes on</a> or
  <a href="{{ '/books#books-i-have-read' | relative_url }}">have read</a>.
</p>
