---
layout: page
title: Podcasts
---

<p class="text-slate-500 text-sm -mt-4 mb-10">Episodes worth coming back to.</p>

<div class="flex flex-col">
  {% render "podcast_episode", title: 'David "DHH" Heinemeier Hansson: The Power of Being Outspoken (#195)', show: "The Tim Ferriss Show", year: "2016", url: "https://tim.blog/2016/10/27/david-heinemeier-hansson/" %}
</div>
