---
layout: page
title: Quotes
---

<p class="text-slate-500 text-sm -mt-4 mb-10">Lines that stuck with me.</p>

<div class="flex flex-col">
  {% render "quote", text: "The Catastrophe You Fear Will Happen has Already Happened.", author: "The School of Life", url: "https://www.theschooloflife.com/article/the-catastrophe-you-fear-will-happen-has-already-happened/" %}
</div>
