/* If you need to add @import statements, do so up here */

@import "jit-refresh.css"; /* triggers frontend rebuilds */

/* Set up Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-background: #fff;
  --body-color: #444;
  --heading-color: black;
}

body {
  @apply text-lg tracking-tight lg:text-2xl;
}

h2 {
  @apply mt-10 mb-2 text-2xl font-semibold text-left md:text-3xl;
}

a {
  @apply text-red-700 underline hover:text-black;
}

.post {
  h2 {
    @apply mt-10 mb-2 font-bold text-left md:text-5xl;
  }

  h3 {
    @apply text-xl font-semibold md:text-4xl;
  }

  p {
    @apply mb-8;
  }
}

ul p {
  @apply mb-0;
}

p {
  @apply mb-8;
}

table {
  @apply mb-8;
}

th,
td {
  @apply px-4 border border-black;
}

ul {
  @apply list-disc list-inside;
}

ol {
  @apply list-decimal list-inside;
}

strong {
  @apply font-bold;
}

details > summary {
  @apply text-xl;
}

body > header {
  margin: 1rem;
  text-align: center;
}

body > header img {
  display: inline-block;
  width: 400px;
  max-width: 100%;
}

code {
  @apply bg-gray-200 px-1 py-0.5 rounded;
}

pre {
  @apply mb-8 text-wrap;
}

pre.highlight {
  @apply p-4 bg-gray-200 rounded;
}

/* main {
  margin: 2rem auto 4rem;
  min-height: calc(100vh - 200px);

  @media (max-width: 500px) {
    padding: 16px 16px 50px;
  }

  & > h2 {
    @apply mt-10 mb-2 text-2xl font-medium text-left first:mt-0;
  }

  & > h3 {
    @apply mt-5 mb-2 text-xl font-medium text-left first:mt-0;
  }

  & > ul {
    @apply mb-6 first:mt-0;
  }
} */

hr {
  border: none;
  border-top: 2px dotted #bbb;
  margin: 3rem 0;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

/* GoodReads Widget Styles */
.gr_grid_container {
  /* customize grid container div here. eg: width: 500px; */
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  row-gap: 8px;
  flex-wrap: wrap;
}

.gr_grid_book_container {
  /* customize book cover container div here */
  height: 130px;
  width: 98px;
  overflow: hidden;
}
