<footer class="py-4 text-center">
  {% comment %}
    <a href="https://twitter.com/messages/compose?recipient_id=1516557889162584070" target="_blank"
      >Say hi on Twitter <strong>@SyedMSawaid</strong></a
    >
  {% endcomment %}
  <div>Syed Muhammad Sawaid © {% year_now %}</div>
</footer>
