<div class="p-4 bg-gray-300 rounded-xl w-96 hover:cursor-pointer">
  <a
    href="https://syedmsawaid.substack.com/subscribe"
    target="_blank"
    class="flex flex-col gap-2 text-black no-underline hover:bg-transparent"
  >
    <div class="text-base font-bold">Newsletter</div>
    <input
      class="w-full px-2 py-1 border border-black rounded pointer-events-none"
      placeholder="Your email"
      type="text"
    >
    <p class="my-0 text-sm ">Join my newsletter on tech, life and everything inbetween.</p>
  </a>
</div>
